src/main/mule/cloude.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0793475a-b643-4b58-ac8e-ea663a3694b8" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7c2bf886-45ff-44ca-8eeb-89188163d609" file="dev.yaml" />
	<flow name="cloudehubFlow" doc:id="be398b98-2420-49a5-ba19-8098101ff8f9" >
		<http:listener doc:name="Listener" doc:id="915b01c6-ff2d-47d7-8062-005cca29729b" config-ref="HTTP_Listener_config" path="cloude"/>
		<set-payload value='#["hello batch 32"]' doc:name="Set Payload" doc:id="e7e72da4-d8ee-4fa8-9ada-2365b7ee9cba" />
	</flow>
	
	</mule>
